# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

* @adhityamamallan @macrotim @Assem-Uber @abhishekj720 @fimanishi @bowenxia @timl3136 @eleonoradgr @gazi-yestemirova @arzonus @vladimir-gavrilenko @c-warren @natemort @Shaddoll @neil-xie @davidporter-id-au @shijiesheng @jakobht @sankari165 @dkrotx @demirkayaender
